ytd-rich-grid-renderer {
    --ytd-rich-grid-items-per-row: 5 !important;
}

#contents > :nth-child(2 of ytd-rich-section-renderer) {
    display: none;
}

ytd-rich-item-renderer[rendered-from-rich-grid][is-in-first-column] {
    margin-left: calc(var(--ytd-rich-grid-item-margin) / 2) !important;
}
